    <section class="collections">
        <div class="coll-item item-full">
            <div class="img-wrapper square">
                <img src="assets/images/Pic_2.jpg" alt="New Arrival">
                <div class="overlay-text">New</div>
            </div>
            <p class="caption">Sed egestas, nibh a condimentum imperdiet<br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, <br>
                turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae</span></p>
        </div>

       <div class="babyhoneysx">
            <div class="babyhoneysx-container">
                <img src="assets/images/Gif_1.gif" alt="Babyhoneysx" />
                <div class="overlay-text">BABYHONEYSX</div>
            </div>
            
            <p class="caption">
                Sed egestas, nibh a condimentum imperdiet<br>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, <br>
                turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae</span>
            </p>
        </div>

        <div class="coll-item item-wide">
            <div class="img-wrapper wide">
                <img src="assets/images/Pic_8.jpg" alt="Collection 01" class="main-img">
                
                <video class="hover-video" loop muted playsinline>
                    <source src="assets/images/Bestseller.mp4" type="video/mp4">
                </video>

                <div class="overlay-text">COLLECTION 01</div>
            </div>
        </div>

        <div class="coll-row">
            <div class="coll-item">
                <div class="img-wrapper square">
                    <img src="assets/images/Pic_3.jpg" alt="Collection 02" class="main-img">
                    <img src="assets/images/Pic_1.jpg" alt="Hover View" class="hover-img">
                    <div class="overlay-text">COLLECTION 02</div>
                </div>
            </div>

            <div class="coll-item">
                <div class="img-wrapper square">
                    <img src="assets/images/Pic_7.jpg" alt="Collection 03" class="main-img">
                    <img src="assets/images/Pic_5.jpg" alt="Hover View" class="hover-img">
                    <div class="overlay-text">COLLECTION 03</div>
                </div>
            </div>
        </div>
    </section>

<section class="loop-container">
    <div class="img-loop">
        <div class="img-set">
            <img src="assets/images/Slide_01.png" alt="Slide 01">
            <img src="assets/images/Slide_02.png" alt="Slide 02">
            <img src="assets/images/Slide_01.png" alt="Slide 01">
            <img src="assets/images/Slide_02.png" alt="Slide 02">
        </div>
    </div>
</section>