<header class="header">
    <div class="header-left">
        <div class="lang-wrapper">
            <span class="lang-selector" id="lang-btn">
                TH - THB <i class='bx bx-chevron-down'></i>
            </span>
            <ul class="lang-dropdown" id="lang-menu">
                <li><a href="#" data-lang="TH - THB">TH - THB</a></li>
                <li><a href="#" data-lang="US - USD">US - USD</a></li>
            </ul>
        </div>
    </div>

    <div class="menu-toggle" id="mobile-menu-btn">
        <i class='bx bx-menu' id="menu-icon"></i>
    </div>

    <nav class="navbar" id="nav-content">
        <a href="#">WOMEN</a>
        <a href="#">COLLECTIONS</a>
        <div class="nav-item-editorial">
             <a href="#">EDITORIAL <i class='bx bx-chevron-down'></i></a>
        </div>
        <a href="#">NEWS</a>
        <a href="#">STORIES</a>
    </nav>

    <div class="header-right">
        <a href="#" class="sign-in">SIGN IN</a>
        <i class='bx bx-shopping-bag cart-icon'></i>
    </div>
</header>